<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482709585531-3vkp11beq0ff7016im89qv9aopaka8cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482709585531-3vkp11beq0ff7016im89qv9aopaka8cn</string>
	<key>API_KEY</key>
	<string>AIzaSyBOxKSoC81BaAJwRP2vjo3IsWjQJiiwfRc</string>
	<key>GCM_SENDER_ID</key>
	<string>482709585531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soraproject.BrainMuscleApp</string>
	<key>PROJECT_ID</key>
	<string>brainmuscleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>brainmuscleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482709585531:ios:2d9dc913e4e762cf66acde</string>
</dict>
</plist>